<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>695615074939-3qe4l950vicb0lec9gja9u4a8qt87na5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695615074939-3qe4l950vicb0lec9gja9u4a8qt87na5</string>
	<key>API_KEY</key>
	<string>AIzaSyDbAnHRFa9gAt4CPFm1OdxDuEWtTWY3OPo</string>
	<key>GCM_SENDER_ID</key>
	<string>695615074939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isostream.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-480e3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-480e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:695615074939:ios:5ade4ffe59b4bffa</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-480e3.firebaseio.com</string>
</dict>
</plist>